.bkml-container
    .bkml-title
      span.bkml-title-img
        | IMG
      | Title
    .bkml-link-container
      .bkml-link-header
        | Share this link
      .bkml-link-text
        | Link Text....
      a#clipboard-target.bkml-link-copy(href='#')
        | Copy
    .bkml-social-container
      a(href='#')
        span.bkml-social-button.bkml-social-fb
          | FB
      a(href='#')
        span.bkml-social-button.bkml-social-tweet
          | Tweet