<div class="bkml-container bkml-container-hidden">
    <div class="bkml-title">
        <div class='bkml-title-img'></div><span class='bkml-title-text'>ANYWHERE</span><i class="fa fa-lg fa-times-circle bkml-title-dismiss bkml-dismiss"></i>
    </div>
    
    <!-- Login Page -->
    
    <div class='bkml-login-page'>
        <div class='bkml-login-container'>
            <div class='bkml-login-header bkml-section-header'>
                Please Sign In
            </div>
            <div class='bkml-redirect-container'>
                <i class='fa fa-minus-circle fa-5x'></i>
            
                <div class='bkml-redirect-text'>
                    Sign in to share this link and earn!<br> 
                </div>
                <div class='bkml-redirect-image'>    
                </div><a class='bkml-redirect-link' href='http://publishers.viglink.com/sign-in' target="_">Sign In Page</a>
            </div>
        </div>
        <a class='bkml-bottom-button' id='bkml-reload-button'>Reload Bookmarklet</a>
    </div>
    <!-- Login end -->
    
    <!-- Not Affiliatable Page -->
    
    <div class='bkml-notaff-page'>
        <div class='bkml-notaff-container'>
            <div class='bkml-section-header'>
                Not Affiliatable
            </div>
            <i class='fa fa-exclamation-circle bkml-exclamation'></i>
            <span class='bkml-notaff-message-top'>
                Sorry, this page is not currently affiliatable.
            </span>
            <span class='bkml-notaff-message-bottom'>
                We're constantly adding merchants to our network, so check back again later!
            </span>
        </div>
        <a class='bkml-bottom-button' id='bkml-close-button'>Close Bookmarklet</a>
    </div>
    <!-- Not affiliatable end -->
    
    <!-- Share page -->
    
    <div class='bkml-share-page'>
        <div class='bkml-share-container'>
            <div class='bkml-section-header'>
                Share this Page
            </div>
            
            <form>
                <label class='bkml-campaign-label' for='bkml-campaign-select'>Current Campaign:</label>
                <select id='bkml-campaign-select'></select>
            </form>
            
            <div class="bkml-link-container">
                <div class="bkml-link-header">
                    Share This Link To Earn
                </div>
                <div class="bkml-link-text"></div>
                <div class='bkml-link-buffer'></div>
                <a id="clipboard-target" href="#" class="bkml-link-copy bkml-link-button">
                    Copy To Clipboard
                </a><a class='bkml-link-shorten bkml-link-button'>
                    Shorten
                </a>
            </div>
        </div>
    
        <div class="bkml-social-container">
            <a class="bkml-social-button bkml-social-tweet" href="https://twitter.com/share" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>Tweet Link
            </a>
            <a href="http://www.facebook.com" class="bkml-social-button bkml-social-fb">
                <span class="fa-stack">
                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>Share Link
            </a>
        </div>
    </div>
    <!-- Share end -->
    
</div>

<link class='bkml-resource' rel="stylesheet" type="text/css" href="bookmarklet/api/bookmarklet.css">
