<div class="bkml-container">
    <div class="bkml-title">
        <img src='http://anywhere-bookmarklet.herokuapp.com/images/logo_small.png' class='bkml-title-img'>
        <i class="fa fa-lg fa-times-circle-o bkml-title-dismiss bkml-dismiss"></i>
    </div>
    
    <!-- Login Page -->
    <div class='bkml-login-container' style='display: none;'>
        <div class='bkml-login-header'>
            Please Log In
        </div>
        <div class='bkml-redirect-container'>
            <div class='bkmk-redirect-text'>
                Sign in to share this link and earn! 
                <a class='bkml-redirect-link' href='http://publishers.viglink.com/sign-in' target="_">VigLink Sign In Page</a>
            </div>
            <button class='bkml-redirect-done'>Reload Bookmarklet</button>
        </div>
    </div>
    <!-- Login end -->
    
    <!-- Share page -->
    <div class='bkml-share-container' style='display: none;'>
        <div class='bkml-share-header'>
            Share this Page
        </div>
        <div class='bkml-campaign-container'>
            <form>
                <label for='bkml-campaign-select'>Current Campaign:</label>
                <select id='bkml-campaign-select'>
                </select>
            </form>
        </div>
        <div class="bkml-link-container">
            <div class="bkml-link-header">
                Share This Link To Earn
            </div>
            <div class="bkml-link-text">
                Link Text....
            </div>
            <a id="clipboard-target" href="#" class="bkml-link-copy">
                Copy To Clipboard
            </a>
        </div>
        <div class="bkml-social-container">
            <a class="bkml-social-button bkml-social-tweet" href="https://twitter.com/share" target="_blank">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x"></i>
                </span>Tweet
            </a>
            <a href="http://www.facebook.com" class="bkml-social-button bkml-social-fb">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>Share
            </a>
        </div>
    </div>
    <!-- Share end -->
    
</div>
