<!DOCTYPE html>
<html>
	<head>
        <title>VL Anywhere Bookmarklet</title>
        <script src='/javascripts/vendor/jquery-1.11.1.js'></script>
        <script src='/javascripts/serve_bookmarklet.js'></script>
	</head>
	<body>
        <h1>Bookmarklet</h1>
        <form class='get-bookmarklet' action='#' method='GET'>
            <input type='text' id='user-api' placeholder='Enter API key' />
            <input type='submit' name='user-api-submit' value='Get Bookmarklet Link' />
        </form>
        
        <div class='bookmarklet-holder' style="display: none">

          <h3>Great! Drag this button to your Bookmark Bar</h3>
          <a class="bookmarklet-link" href="#" id="bookmarklet-link">VL Anywhere</a>

        </div>   
            
    </body>
</html>

