<!DOCTYPE html>
<html>
	<head>
        <title>VL Anywhere Bookmarklet</title>
        <script src='/javascripts/vendor/jquery-1.11.1.js'></script>
        <script src='/javascripts/serve_bookmarklet.js'></script>
	</head>
	<body>
        <h1>Bookmarklet</h1>
        
        <a class="bookmarklet-link" href="#" id="bookmarklet-link">VL Anywhere</a>  
            
    </body>
</html>

<style>
.bookmarklet-link {
    display: inline-block;
    background-color: blue;
    color: white;
    width: 250px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 2px;
    text-align: center;
}
</style>