doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/bookmarklet.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700')
  body
    block content