/* TODO: Make orange text consistent */


/* 
  General Styling
*/


.bkml-container {
  width: 305px;
  background-color: rgb(245,245,245);
  color: #F8F8F8;
  text-align: center;
  
  position: fixed;
  top: 0;
  right: 0;
  
  font-family: "Helvetica","Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  
  font-weight: 400;

  box-shadow: -5px -5px 5px #999, -5px 5px 5px #999;
  
/* Must be less than #global-zerclipboard-html-bridge which is z-index: 999999999*/
  z-index: 999998;
}

.bkml-title {
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
  
  text-align: left;
  
  border-bottom: 2px solid rgba(150,150,150,1);
  border-top: 2px solid rgba(150,150,150,1);
  
  margin-top: 1px;
  
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(80,80,100);
  
  background-image: linear-gradient(to top, rgb(205,205,205), rgb(255,255,255));

}

.bkml-title-text {
  
}

.bkml-title-img {
  display: inline-block;
  height: 26px;
  width: 100px;
  margin: 13px 15px;
}

.bkml-title-dismiss {
  position: absolute;
  top: 23px;
  right: 15px;
  
  color: rgba(120,120,120,1);
  cursor: pointer;
}
/* General end */


/* 
  Styling for Share page
*/


.bkml-share-container {
  display: inline-block;
  width: 275px;
  margin: 12.5px 15px;
  border: 1px solid rgba(150,150,150,1);
  margin-bottom: 0;
}

.bkml-share-header {
  background-color: rgba(255, 147, 68, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  
  text-transform: uppercase;
  
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  color: rgb(255,255,255);
  
  
}

.bkml-campaign-container {
 /* height: 40px;*/
  margin: 20px auto;
  color: rgb(50, 50, 50);
}

.bkml-campaign-container label {
  font-size: 0.8em;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 19px;
}

#bkml-campaign-select {
  display: block;
  font-size: 0.8em;
  width: 230px;
  margin: 5px auto 10px auto;
}

.bkml-campaign-filter-label {
  font-size: 0.9em;
  display: block;
  margin-bottom: 5px;
}

#bkml-campaign-filter {
  display: inline-block;
  font-size: 0.8em;
  width: 230px;
  margin: 5px auto 10px auto;
  height: 16px;
}

.bkml-campaign-filter-button {
  height: 22px;
  width: 45px;
  padding: 0;
  margin-left: 5px;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bkml-link-container {
  width: 231px;
  margin: 32px auto;
  
/* TODO: refactor this out of the following code*/
  color: rgba(255, 147, 68, 1); 
  
  font-weight: 200px;
  
  border: thin solid rgba(150,150,150,1);
/*  border-radius: 2px;*/
}

.bkml-link-header {
  height: 35px;
  
  line-height: 35px;
  vertical-align: middle;
  
  color: rgba(255, 147, 68, 1);
  font-size: 0.9em;
  
  border-bottom: 1px solid rgba(150,150,150,1);
}

.bkml-link-text {
  height: 125px;
  text-align: left;
  padding: 12px 17px;
  
  word-wrap: break-word;
  word-break: break-all;
  
  color: rgb(32,32,32);
  font-size: 0.9em;
  line-height: 1.3em;  
  
  overflow-y: auto;
}

.bkml-link-copy-button-container {
  display: inline-block;
  margin: 0;
  width: 230px;
  
  text-align: center;
  font-size: 0em;
  
  border-top: thin solid rgba(150,150,150,1);
}

.bkml-link-button {
  display: inline-block;
  
  color: rgba(255, 147, 68, 1); 
  
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  
  margin: 0;
  cursor: pointer;
  
  font-size: 12px; 
  
  text-decoration: none;
}
.bkml-link-button.zeroclipboard-is-active, .bkml-link-button:active {
  color: rgba(255, 147, 68, 1) !important;   
}

#clipboard-target.bkml-link-copy {
  width: 150px;
  border-right: thin solid rgba(150,150,150,1);
}

.bkml-link-shorten {
  width: 70px;
}
/*
#clipboard-target.bkml-link-copy:active {
  color: rgb(250,130,50);
}
#clipboard-target.bkml-link-copy.zeroclipboard-is-active {
  color: rgb(250,130,50);
}
*/

/*.bkml-link-shorten:active {
  background-color: rgba(250, 130, 50, 1);
}
*/
.bkml-social-container {
  display: inline-block;
  margin: 26px auto 30px auto;
  text-align: center;
  
/*  border: 1px solid rgba(110,110,110,1);*/
/*  border-radius: 2px;*/
  
  font-size: 0em;
  
}

.bkml-social-button {
  display: inline-block;

  width: 137.5px;
    
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  
  margin: 0;
  padding: 0;
  
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  

  border: thin solid white;
  
}
.bkml-social-button:active, .bkml-social-button:visited {
  text-decoration: none;
  color: white;
}

.bkml-social-fb {
  background-color: rgb(60,90,150);
}
.bkml-social-fb:active {
  background-color: rgba(4, 61, 162, 1);
}
.fa-facebook {
/*  color: rgba(50,90,160,1);*/
}


.bkml-social-tweet {
  background-color: #51c9F0;
}
.bkml-social-tweet:active {
  background-color: rgb(80,200,240);
}
.fa-twitter {
/*  color: rgba(85,150,200,1);*/
}

.fa-stack {
  margin-right: 5px;
  color: white;
}

/* Share end */


/* 
  Styling for Login 'Page' 
*/

.bkml-login-container {
  display: inline-block;
  width: 275px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-login-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-redirect-container {
    width: 230px;
    margin: 20px auto;
    color:  black;
}

.bkml-redirect-link {
    display: block;
    margin: 20px auto;
    
    font-size: 0.8em;
}
.bkml-redirect-link:link { 
    color: #0000EE; 
    text-decoration: underline;
}
.bkml-redirect-link:visited { 
    color: #551A8B; 
    text-decoration: underline;
}

.bkml-redirect-done {
    padding: 0;
    
    display: block;
    margin: 50px auto 30px auto;
    
    width: 160px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(70,120,180,1);

    color: white;
    font-size: 0.8em;
}

/* Login end */ 


/* 
  Styling for Not affiliatable page 
*/

.bkml-notaff-container {
  display: inline-block;
  width: 275px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-notaff-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-notaff-message {
    width: 230px;
    margin: 20px auto;
    color:  black;
}

.bkml-notaff-message-top {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px;
}

.bkml-notaff-message-bottom {
    margin-top: 20px;
    font-size: 0.95em;
    font-style: italic;
}

.bkml-notaff-close {
    padding: 0;
    
    display: block;
    margin: 50px auto 30px auto;
    
    width: 160px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(70,120,180,1);

    color: white;
    font-size: 0.8em;
}

/* Not affiliatable end */ 


/*a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}*/
