/* 
  General Styling
*/


.bkml-container {
  width: 275px;
  background-color: #F8F8F8;
  color: #F8F8F8;
  text-align: center;
  
  position: absolute;
  top: 0;
  right: 0;
  
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  
  font-weight: 400;

  box-shadow: -5px -5px 5px #999, -5px 5px 5px #999;
  
/* Must be less than #global-zerclipboard-html-bridge which is z-index: 999999999*/
  z-index: 999998;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.bkml-title {
  height: 35px;
  text-align: left;
  line-height: 35px;
  vertical-align: middle;
  
  border-bottom: 2px solid rgba(150,150,150,1);
  border-top: 2px solid rgba(150,150,150,1);
  
  margin-top: 1px;

}

.bkml-title-img {
  display: inline-block;
  height: 25px;
  width: 100px;
  margin: 5px 15px;
}

.bkml-title-dismiss {
  position: absolute;
  top: 10px;
  right: 10px;
  
  color: rgba(75, 120, 185,1);
}
/* General end */


/* 
  Styling for Share page
*/


.bkml-share-container {
  display: inline-block;
  width: 250px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-share-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-campaign-container {
  height: 40px;
  margin: 20px auto;
  
  color: rgba(250, 130, 50, 1);
}

.bkml-campaign-label {
  font-size: 0.9em;
  display: block;
  margin-bottom: 5px;
}

.bkml-campaign-select {
  display: block;
  margin-bottom: 10px;
  font-size: 0.8em;
}

.bkml-link-container {
  width: 200px;
  margin: 30px auto;
  
  border: 1px solid rgba(150,150,150,1);
  border-radius: 2px;
}

.bkml-link-header {
  height: 35px;
  
  line-height: 35px;
  vertical-align: middle;
  
  color: rgba(230,160,120,1);
  font-size: 0.9em;
  
  border-bottom: 1px solid rgba(150,150,150,1);
}

.bkml-link-text {
  height: 100px;
  text-align: left;
  padding: 10px;
  
  word-wrap: break-word;
  word-break: break-all;
  
  color: rgba(170,170,170,1);
  font-size: 0.9em;  
  
  overflow-y: auto;
}

.bkml-link-copy-button-container {
  display: inline-block;
  margin: 0;
  width: 200px;
  
  text-align: center;
  font-size: 0em;
  
  border-top: 1px solid rgba(150,150,150,1);
}

.bkml-link-button {
  display: inline-block;
  
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  
  margin: 0;
}

.bkml-link-copy {
  color: rgba(230,160,120,1) !important;
  width: 135px;
  font-size: 12px;
}

.bkml-link-shorten {
  width: 65px;
  color: #F8F8F8;
  background-color: rgba(230,160,120,1) !important;
  font-size: 12px;
}

.bkml-social-container {
  display: inline-block;
  margin: 0 auto 30px auto;
  text-align: center;
  
  border: 1px solid rgba(110,110,110,1);
  border-radius: 2px;
  
  font-size: 0em;
}

.bkml-social-button {
  display: inline-block;

  width: 100px;  
  height: 40px;
  
  line-height: 40px;
  vertical-align: middle;
  
  margin: 0;
  
  font-size: 16px;
}

.bkml-social-fb {
  background-color: rgba(50,90,160,1);
}
.fa-facebook {
  color: rgba(50,90,160,1);
}


.bkml-social-tweet {
  background-color: rgba(85,150,200,1);
}
.fa-twitter {
  color: rgba(85,150,200,1);
}

.fa-stack {
  margin-right: 5px;
}

/* Share end */


/* 
  Styling for Login 'Page' 
*/

.bkml-login-container {
  display: inline-block;
  width: 250px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-login-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-redirect-container {
    width: 200px;
    margin: 20px auto;
    color:  black;
}

.bkml-redirect-link {
    display: block;
    margin: 20px auto;
    
    font-size: 0.8em;
}
.bkml-redirect-link:link { 
    color: #0000EE; 
    text-decoration: underline;
}
.bkml-redirect-link:visited { 
    color: #551A8B; 
    text-decoration: underline;
}

.bkml-redirect-done {
    padding: 0;
    
    display: block;
    margin: 50px auto 30px auto;
    
    width: 160px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(70,120,180,1);

    color: white;
    font-size: 0.8em;
}

/* Login end */ 


/* 
  Styling for Not affiliatable page 
*/

.bkml-notaff-container {
  display: inline-block;
  width: 250px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-notaff-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-notaff-message {
    width: 200px;
    margin: 20px auto;
    color:  black;
}

.bkml-notaff-message-top {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px;
}

.bkml-notaff-message-bottom {
    margin-top: 20px;
    font-size: 0.95em;
    font-style: italic;
}

.bkml-notaff-close {
    padding: 0;
    
    display: block;
    margin: 50px auto 30px auto;
    
    width: 160px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(70,120,180,1);

    color: white;
    font-size: 0.8em;
}

/* Not affiliatable end */ 
