.bkml-container {
  width: 275px;
  background-color: #F8F8F8;
  color: white;
  text-align: center;
  
  position: absolute;
  top: 0;
  right: 0;
  
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;

  box-shadow: -5px -5px 5px #999, -5px 5px 5px #999;
  
/* Must be less than #global-zerclipboard-html-bridge which is z-index: 999999999*/
  z-index: 999998;
}

/*.bkml-container > * {
  background-color: #686868;
}
*/
a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

.bkml-title {
  height: 35px;
  text-align: left;
  line-height: 35px;
  vertical-align: middle;
  
  border-bottom: 2px solid rgba(150,150,150,1);
  border-top: 2px solid rgba(150,150,150,1);
  
  margin-top: 1px;

}

.bkml-title-img {
  display: inline-block;
  height: 25px;
  width: 100px;
  margin: 5px 15px;
}

.bkml-share-container {
  display: inline-block;
  width: 250px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-share-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-campaign-container {
  height: 40px;
  margin: 20px auto;
  
  color: rgba(250, 130, 50, 1);
}
.bkml-campaign-container label {
  padding-bottom: 10px;
}

.bkml-link-container {
  width: 200px;
  margin: 30px auto;
  
  border: 1px solid rgba(150,150,150,1);
  border-radius: 2px;
}

.bkml-link-header {
  height: 35px;
  
  line-height: 35px;
  vertical-align: middle;
  
  color: rgba(230,160,120,1);
  font-size: 0.9em;
  
  border-bottom: 1px solid rgba(150,150,150,1);
}

.bkml-link-text {
  height: 100px;
  text-align: left;
  padding: 10px;
  
  word-wrap: break-word;
  color: rgba(170,170,170,1);
  font-size: 0.9em;  
  
  overflow-y: auto;
}

.bkml-link-copy {
  display: block;
  
  /*Fix issue with link color display*/
  color: rgba(230,160,120,1) !important;
  
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  
  border-top: 1px solid rgba(150,150,150,1);
  
  font-size: 0.9em;
}

.bkml-social-container {
  display: inline-block;
  margin: 0 auto 30px auto;
  text-align: center;
  
  border: 1px solid rgba(110,110,110,1);
  border-radius: 2px;
  
  font-size: 0em;
}

.bkml-social-button {
  display: inline-block;

  width: 100px;  
  height: 40px;
  
  line-height: 40px;
  vertical-align: middle;
  
  margin: 0;
  
  font-size: 16px;
}

.bkml-social-fb {
  background-color: rgba(50,90,160,1);
}
.fa-facebook {
  color: rgba(50,90,160,1);
}


.bkml-social-tweet {
  background-color: rgba(85,150,200,1);
}
.fa-twitter {
  color: rgba(85,150,200,1);
}

.fa-stack {
  margin-right: 5px;
}