/* 
  General Styling
*/

.bkml-container {
  width: 305px;
  background-color: rgb(245,245,245);
  color: #F8F8F8;
  text-align: center;
  
  position: fixed;
  top: 0;
  right: 0;
  
  font-family: "Helvetica","Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  
  font-weight: 400;

  box-shadow: -5px -5px 5px #999, -5px 5px 5px #999;
  
  z-index: 999998; /* Must be less than our clipboard flash element, which is z-index: 999999999*/
}

.bkml-title {
  height: 52px;
  line-height: 56px;
  vertical-align: middle;
  
  text-align: left;
  
  border-bottom: 1px solid rgba(150,150,150,1);
  border-top: 1px solid rgba(150,150,150,1);
  
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(80,80,100);
  
  background-image: linear-gradient(to top, rgb(205,205,205), rgb(255,255,255));

}

.bkml-title-img {
  display: inline-block;
  height: 26px;
  width: 100px;
  margin: 13px 5px 13px 15px;
}

.bkml-title-dismiss {
  position: absolute;
  top: 23px;
  right: 15px;
  
  color: rgba(120,120,120,1);
  cursor: pointer;
}


.bkml-section-header {
  background-color: #ff9344;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  
  text-transform: uppercase;
  
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  color: rgb(255,255,255);
  
  
}

.bkml-bottom-button {
    padding: 0;
    display: block;
    margin: 10px auto 30px auto;
    
    width: 275px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    
    border-radius: 20px;
    background-color: #196bac;

    color: white;
    font-size: 0.8em;
    text-transform: uppercase;
    
    box-shadow: 0 3px 1px #0c3b60;
}
.bkml-bottom-button:active {
    transform: translate(0, 2px);
    box-shadow: 0 1px 1px #0c3b60;
}
.bkml-bottom-button:link, .bkml-bottom-button:visited, .bkml-bottom-button:hover {
  text-decoration: none;
  color: white;
}
/* General end */


/* 
  Styling for Share page
*/


.bkml-share-container {
  display: inline-block;
  width: 275px;
  margin: 12.5px 15px;
  border: 1px solid rgba(150,150,150,1);
  margin-bottom: 0;
}


.bkml-campaign-container {
 /* height: 40px;*/
  margin: 20px auto;
  color: rgb(50, 50, 50);
}

.bkml-campaign-container label {
  font-size: 0.8em;
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 19px;
}

.bkml-select-parent {
  overflow: hidden;
  position: relative;
}

.bkml-select-parent .fa-arrows-v {
  position: absolute;
  top: 10px;
  left: 32px;
  font-size: 14px;
}

#bkml-campaign-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  
  text-indent: 20px;
  
  display: block;
  font-size: 0.8em;
  width: 230px;
  height: 25px;
  margin: 5px auto 10px auto;
  background-color: white;
  border-radius: 2px;
}

.bkml-campaign-filter-label {
  font-size: 0.9em;
  display: block;
  margin-bottom: 5px;
}

#bkml-campaign-filter {
  display: inline-block;
  font-size: 0.8em;
  width: 230px;
  margin: 5px auto 10px auto;
  height: 16px;
}

.bkml-campaign-filter-button {
  height: 22px;
  width: 45px;
  padding: 0;
  margin-left: 5px;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bkml-link-container {
  width: 231px;
  margin: 18px auto 32px auto;
  
/* TODO: refactor this out of the following code*/
  color: rgba(255, 147, 68, 1); 
  
  font-weight: 200px;
  
  border: thin solid rgba(150,150,150,1);
/*  border-radius: 2px;*/
}

.bkml-link-header {
  height: 35px;
  
  line-height: 35px;
  vertical-align: middle;
  
  color: rgba(255, 147, 68, 1);
  font-size: 0.9em;
  
  border-bottom: 1px solid rgba(150,150,150,1);
}

.bkml-link-text {
  height: 125px;
  text-align: left;
  padding: 12px 17px;
  
  word-wrap: break-word;
  word-break: break-all;
  
  color: rgb(80,80,80);
  font-size: 0.9em;
  line-height: 1.3em;  
  
  overflow-y: auto;
}

.bkml-link-copy-button-container {
  display: inline-block;
  margin: 0;
  width: 230px;
  
  text-align: center;
  font-size: 0em;
  
  border-top: thin solid rgba(150,150,150,1);
}

.bkml-link-button {
  display: inline-block;
  
  color: rgba(255, 147, 68, 1); 
  
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  
  margin: 0;
  cursor: pointer;
  
  font-size: 12px; 
  
  text-decoration: none;
}
.bkml-link-button.zeroclipboard-is-active, .bkml-link-button:active, .bkml-link-button:link, .bkml-link-button:visited, .bkml-link-button:hover {
  color: rgba(255, 147, 68, 1) !important;
  text-decoration: none;   
}

#clipboard-target.bkml-link-copy {
  width: 150px;
  border-right: thin solid rgba(150,150,150,1);
}

.bkml-link-shorten {
  width: 70px;
}
/*
#clipboard-target.bkml-link-copy:active {
  color: rgb(250,130,50);
}
#clipboard-target.bkml-link-copy.zeroclipboard-is-active {
  color: rgb(250,130,50);
}
*/

/*.bkml-link-shorten:active {
  background-color: rgba(250, 130, 50, 1);
}
*/
.bkml-social-container {
  display: inline-block;
  margin: 26px auto 30px auto;
  text-align: center;
  
  font-size: 0em;
  
}

.bkml-social-button {
  display: inline-block;

  width: 137.5px;
    
  height: 28px;
  line-height: 26px;
  vertical-align: middle;
  
  margin: 0;
  padding: 0;
  
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  

  border: thin solid white;
  
}
.bkml-social-button:active, .bkml-social-button:visited, .bkml-social-button:link, .bkml-social-button:hover {
  text-decoration: none;
  color: white;
}

.bkml-social-fb {
  background-color: rgb(60,90,150);
}
.bkml-social-fb:active {
  background-color: rgba(4, 61, 162, 1);
}
.fa-facebook {
/*  color: rgba(50,90,160,1);*/
}


.bkml-social-tweet {
  background-color: #51c9F0;
}
.bkml-social-tweet:active {
  background-color: rgb(80,200,240);
}
.fa-twitter {
/*  color: rgba(85,150,200,1);*/
}

.fa-stack {
  margin-right: 5px;
  color: white;
}

/* Share end */


/* 
  Styling for Login 'Page' 
*/


.bkml-login-container {
  display: inline-block;
  width: 275px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-redirect-container {
    width: 230px;
    margin: 20px auto 10px auto;
    color:  #444444;
    font-size: 1.2em;
}

.bkml-redirect-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bkml-redirect-link, .bkml-redirect-image {
  display: inline-block;
  height: 46px;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 20px 0;
  
  background-color: white;
}

.bkml-redirect-image {
  width: 50px;
    
  background: url('/images/logo.png') no-repeat center;
  background-size: 30px 25px;
  background-color: white;
  
  border-left: 1px solid #d2d2d2;
  border-right: thin solid #d2d2d2;
  box-shadow: 0 3px 1px #d2d2d2;
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}

.bkml-redirect-link {
  width: 125px;
  height: 46px;
  
  font-size: 0.85em;
  font-weight: bold;
  color: #707070;
  
  line-height: 46px;
  vertical-align: middle;
  
  box-shadow: 0 3px 1px #d2d2d2;
  
  border-right: 1px solid #d2d2d2;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.bkml-redirect-link:active {
  transform: translate(0, 2px);
  box-shadow: 0 1px 1px #d2d2d2;
}
.bkml-redirect-link:visited, .bkml-redirect-link:link, .bkml-redirect-link:hover {
    color: #707070;
    text-decoration: none;
}

/* Login end */ 


/* 
  Styling for Not affiliatable page 
*/

.bkml-notaff-container {
  display: inline-block;
  width: 275px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-notaff-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-notaff-message {
    width: 230px;
    margin: 20px auto;
    color:  black;
    font-size: 1.2em;
    
    color: #444444;
}

.bkml-notaff-message-top {
    display: inline-block;
    width: 215px;
    font-size: 1.1em;
    font-weight: 500;
    margin: 15px auto 20px auto;
}

.bkml-notaff-message-bottom {
    width: 230px;
    margin: 20px auto;
    font-size: 0.70em;
    font-style: italic;
}


/* Not affiliatable end */ 


