<div class="bkml-container">
    <div class="bkml-title">
        <img src='http://anywhere-bookmarklet.herokuapp.com/images/logo_small.png' class='bkml-title-img'>
    </div>
    <div class='bkml-login-container'>
        <div class='bkml-login-header'>
            Please Log In
        </div>
        <div class='bkml-redirect-container'>
            <div class='bkmk-redirect-text'>
                Sign in to share this link and earn! 
                <a class='bkml-redirect-link' href='http://publishers.viglink.com/sign-in' target="_">VigLink Sign In Page</a>
            </div>
            <button class='bkml-redirect-done'>Reload Bookmarklet</button>
        </div>
    </div>
</div>
        
<style>
/* Styling for Login 'Page' */

.bkml-login-container {
  display: inline-block;
  width: 250px;
  margin: 12.5px;
  border: 1px solid rgba(150,150,150,1);
}

.bkml-login-header {
  background-color: rgba(250, 130, 50, 1);
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 1.1em;
}

.bkml-redirect-container {
    width: 200px;
    margin: 20px auto;
    color:  black;
}

.bkml-redirect-link {
    display: block;
    margin: 20px auto;
    
    font-size: 0.8em;
}
.bkml-redirect-link:link { 
    color: #0000EE; 
    text-decoration: underline;
}
.bkml-redirect-link:visited { 
    color: #551A8B; 
    text-decoration: underline;
}

.bkml-redirect-done {
    padding: 0;
    
    display: block;
    margin: 50px auto 30px auto;
    
    width: 160px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(70,120,180,1);

    color: white;
    font-size: 0.8em;
}

/* Login end */ 
</style>
        
